apiVersion: v1
kind: Secret
metadata:
  name: {{ include "drip.fullname" . }}
type: Opaque
data:
  SECRET_KEY: {{ .Values.settingsSecrets.secretKey | b64enc | quote }}
  DB_NAME: {{ .Values.postgresql.global.postgresql.postgresqlDatabase | b64enc | quote }}
  DB_USER: {{ .Values.postgresql.global.postgresql.postgresqlUsername | b64enc | quote }}
  DB_PASSWORD: {{ .Values.postgresql.global.postgresql.postgresqlPassword | b64enc | quote }}
  DB_HOST: {{ .Values.postgresqlDbHost | b64enc | quote }}
  ALLOWED_HOST: {{ .Values.settingsSecrets.allowedHost | b64enc | quote }}
